@font-face{
    font-family: "myBaskerville";
    src: url("fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}
@font-face{
    font-family: "latinBaskerville";
    src: url("fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf");
}
@font-face{
    font-family: "mySans";
    src: url("fonts/Open_Sans/OpenSans-Regular.ttf");
}
.latin{
    font-family: "latinBaskerville";
}
.tanColor {
    color: #E9DED9;
}
body{
    font-family: 'myBaskerville' !important;
    font-style: normal;
    font-weight: normal;
    background-color: #829891;
}
html,body{
    overflow-x: hidden;
}

.loading--flower {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
}
.loading--title {
    /* font-family: Libre Baskerville; */
    font-size: 20px;
    line-height: 36px;
    color: #666;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.loading--sub-title {
    color: #879893;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.loading--nps_div {
    position:absolute;
    width:290px;
    height:50px;
    margin-left:-120px;
    bottom:0px;
    left:50%;
}
.loading--NPS_logo{
    display: inline;
    vertical-align: middle;
}
/* END LANDING PAGE CSS */

/* START OF LANDING PAGE */
#homeHero{
    background: url("background-image.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
.homeBtn{
    width: 80%;
    height: 36px;
    line-height: 36px;
}
.landing--nps_div {
    width: 290px;
    margin: 0 auto;
    margin-top: 24px;
}
.landing--NPS_logo{
    display: inline;
    vertical-align: middle;
}
.landing--title_div {
    margin-top: 40px;
}
.landing--title {
    /* font-family: Libre Baskerville; */
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    color: #3B4549;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.landing--sub-title {
    color: #3B4549;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.button {
    width: 250px;
    margin: 0 auto;
    text-align: left;
}

.landing--buttons_image {
    height: 20px; 
    width: 20px;
    float: left;
}

#sideDrawerTitle {
    font-size: 20px;
    font-weight: bold;
    color: #3B4549;
    line-height: 25px;
}
.sideDrawer--Titles{
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #3B4549;
}
.sideDrawer--arrows {
    margin-right: 20px;
    float: right;
}
.sortBy{
    /* font-family: Baskerville; */
    font-size: 16px;
    height: 18px;
    color: #3B4549;
}
.sideDrawer--sortBy {
    margin-left: 2px;
    margin-right: 2px;
}
.sortBy_tabs {
    padding: 10px;
    border: 1px solid #3B4549;
    font-size: 14px;
}
.color {
    background: #3B4549;
}

.sortBy_focus{
    background: #3B4549;
    color: #fff;
}

/* Research Focus Page */
.researchHeader{
    height: 48px;
    line-height: 48px;
    width: 100%;
    padding: 0px 0px 0px 0px !important;
    background-color: #829891;
    text-align: center;
    vertical-align: middle;
    color: #E9DED9;
}
.researchHeader span{
    margin-left: -38px;
}
.v-toolbar__content, .v-toolbar__extension {
    padding: 0px;
}
#researchH1{
    font-size: 20px;
    font-weight: bold;
    left: 50%;
    right: 50%;
    display: inline;
    margin-left: -42px;
    line-height: 48px;
}
.backButton{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    float: left;
    margin-top: 12px;
}
#selectionWrapper{
    margin-top: 40px;
    text-align: center;
    font-family: "mySans";
    font-size: 12px;
    line-height: 16px;
}
.contentWrapper{
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 20px;
}
h2{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #3B4549;
}
.zoom{
    zoom: 100%;
}
.gridContainer, .gridContainer2{
    display: grid;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    padding: 12px 12px 12px 0px;
    margin-bottom: 10px;
}
.gridContainer2{
    grid-template-rows: 15vw;
}
.optionImg {
    width: 80%;
    height: auto;
    padding-right: 0px;
    font-size: 30px;
    text-align: center;
}
#petalWrap{
    width: 100%;
    background-color: #F2F0F0;
    height: 36px;
}
#numPetals{
    margin-left: 10px;
    font-size: 14px;
    line-height: 36px;
    color: #3B4549;
}
#num{
    font-size: 14px;
    line-height: 36px;
    color: #3B4549;
    float: right;
    margin-right: 15px;
}
.selected_focus{
    border: 2px solid #829891;
}
.aBar {
    width: 100%;
    height: 30px;
    background-color: #829891;
    color: #E9DED9;
}
.alfalfa {
    width: 140px;
    height: 140px;
}
#reset{
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 14vw;
}
.picWrapper{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    justify-content: space-evenly;
    margin-bottom: 0vw;
}
.containerPics{
    margin: 8px;
    margin-bottom: -30px;
}
.pic{
    width: 170px;
    height: 170px;
}
.text-block{
    text-align: center;
    background-color: rgba(59, 69, 73, 0.8);
    position: relative;
    bottom: 35px;
    width: 100%;
    height: 8vw;
    line-height: 8vw;
    color: #E9DED9;
    font-size: 4vw;
    overflow: hidden;
}
.container {
    position: relative;
    margin-bottom: -40px;
}
/* Petal Page*/
#petalHeader{
    height: 48px;
    line-height: 48px;
    width: 100%;
    padding: 0px 0px 0px 0px !important;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 20px;
}
#petalHeader span{
    margin-left: -38px;
}
.xButton{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    float: left;
    margin-top: 14px;
}
#listItem{
    line-height: 60px;
    height: 60px;
}
#cancelButton{
    float: right;
    text-align: center;
    background-color: #F2F0F0;
    color: black;
    width: 84px;
    height: 36px;
    line-height: 36px;
    margin-right: 20px;
}
/* instructions page */
.instruction--headers{
    margin-left: 16px;
    margin-right: 16px;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #C47D3D;
}
.instruction--sub-headers{
    margin-left: 16px;
    margin-right: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #3B4549;
}
.instruction--text {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #3B4549;
}
.InstructionExample {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 288px;
    height: 229px;
}
.space{
    height: 90px;
}

/* gloassary */
#searchBox {
    outline: none;
    padding: 6px;
    width: 210px;
    /* border: 1px solid black; */
}
.searchBox {
    margin: 0 auto;
    width: 250px;
    border: 1px solid black;
}

.glossaryName{
    font-size: 16px;
    font-weight: bold;
    color: #3B4549;
    display: inline;
    padding-right: 5px;
}
.glossaryDesc {
    font-size: 16px;
    color: #3B4549;
    display: inline;
}

/* Resources */
.resourceImage {
    height: 60px;
    width: 60px;
}
.image {
    margin-right: 8px;
    width: 60px;
    float: left;
}
.text {
    display: inline;
}
/* facts and questions */
.factsPage--header {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #C47D3D;
}
.factsPage--info {
    font-size: 16px;
    line-height: 20px;
    color: #3B4549;
}
/* Detailed Flowers*/
.details{
    margin: 0px 16px 0px 16px !important;
    font-family: "mySans";
    font-size: 16px;
    line-height: 30px;
    color: #3B4549;
}
.dots{
    text-align: center;
}
.flowerDetailImage {
    height: auto;
    width: 100%;
}
.slidesContainer{
    display: none;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}  
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* @media only screen and (max-width: 400px) {
    .pic {
        height: 130px;
        width: 140px;
    }
    .picWrapper{
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 4px;
        grid-column-gap: 4px;
        padding: 0px;
        justify-items: center;
    }
    .text-block{
        width: 140px;
        height: 30px;
        bottom: 21px;
    }
    .text-block p{
        line-height: 30px;
        color: #E9DED9;
        font-size: 12px;
    }
    .container{
        padding: 15px;
    }
} */